.chat-window {
  border: 2px solid black;
  width: 100%;
  /* height: calc(100% + 15px); */
  height: 200px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  max-height: 550px;
  overflow-y: auto;
  border-radius: 20px;
  
  /* display: flex;

  flex-direction: column;
  justify-content: flex-end; */
  
}

.chat-input {
  text-align: center;
  margin-top: 10px;
}

input {
  width: 100%;
  margin-bottom: 10px;
}